<template>
  <div>
    <img src="../assets/logo.png">
    <div class="info">
      <p class="l"> <span class="logo">GaaGaa Delivery</span> is the best user-friendly delivery service</p>
    </div>
    <table id="b">
      <tr>
        <td><p class="imp">September 2018 <br /> <span class="add">First delivery</span></p>
        </td>
        <td><p class="imp">Innopolis University <br /> <span class="add">Founded</span></p></td>
      </tr>
    </table>
    <hr>
    <h1>Our Drivers</h1>
    <table id="d">
      <tr v-for="(driver) in drivers" :key="driver.name">
        <td>
          <p>{{ driver.name }}</p>
        </td>
        <td class="i">
          <p>{{ driver.info }}</p>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  name: 'About',
  data () {
    return {
      drivers: [
        {
          name: 'Vasily Pupkin',
          info: 'Works since foundation of the company. Never late, always smiling.'
        },
        {
          name: 'Ivan Petrov',
          info: 'Works since foundation of the company. Never late, always kind.'
        }
      ]
    }
  }
}
</script>

<style scoped>
  img {
    width: 30%;
    margin-left: 35%;
  }
  .logo {
    font-size: 20px;
    font-weight: bold;
    font-family: "Copperplate", sans-serif;
  }
  #b {
    margin-left: 31%;
    margin-top: 15px;
    border-collapse: collapse;
    border-radius: 5px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px;
  }
  #b td {
    border: 1px solid;
    padding: 40px;
    width: 250px;
  }
  #d {
    margin-left: 20%;
  }
  #d td {
    padding: 40px;
  }
  .i {
    border-left: 1px solid #dea868;
  }
  .imp {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
  }
  .l {
    text-align: center;
    font-size: 17px;
  }
  .add {
    color: rgba(79, 79, 79, 0.85);
    font-weight: normal;
    font-size: 15px;
    font-family: "Courier New", sans-serif;
  }
  hr {
    width: 70%;
    margin-left: 15%;
  }
  h1 {
    text-align: center;
    font-weight: bold;
  }
</style>
