<template>
    <div
        id="main"
        class="columns">
        <div
            id="form"
            class="column is-4 is-offset-4">

                <label class="is-medium label">Nick</label>
                <b-field>
                    <b-input
                        v-model="nick"
                        class="is-large"
                        type="text"
                        placeholder="Enter your nickname"/>
                </b-field>

                <label class="is-medium label">Password</label>
                <b-field>
                    <b-input
                        v-bind="pass"
                        type="password"
                        placeholder="Enter your password"/>
                </b-field>
                <p
                    v-if="error"
                    id="alert"
                    class="help is-danger">{{ showError }}
                    </p>
                <button class="b" @click="handleAuth"> {{ isLogin ? "Login" : "Register" }}</button>
        </div>
    </div>
</template>

<script>
import { Auth } from '@/API/User'
export default {
  name: 'Auth',
  props: {
    'isLogin': {
      'type': Boolean,
      'required': true,
      'default': false
    }
  },
  data () {
    return {
      nick: '',
      pass: '',
      error: false
    }
  },
  computed: {
    showError () {
      return this.$props.isLogin ? 'No such user' : 'Sorry, a user with such nickname already exists'
    }
  },
  methods: {
    handleAuth () {
      let method = isLogin ? 'login' : 'register'
      let rsp = Auth(nick, pass, method).then(res => res)
      if (!isLogin) {
        if (rsp['status'] === 200) { rsp = Auth(nick, pass, 'login').then(res => res) } else { this.error = true }
      }
      if (rsp['status'] === 200) {
        localStorage.setItem('token', rsp['json']['token'])
        this.$router.push('home')
      } else { this.error = true }
    }
  }
}
</script>

<style>
.b {
  padding: 10px;
  background-color: #cf6f15;
  border: 1px solid #cf6f15;
  font-size: 20px;
  color: white;
  border-radius: 3px;
  padding-left: 15px;
  padding-right: 15px;
}
.b:hover {
  background-color: #c16315;
  border: 1px solid #c16315;
}
label {
  float: left;
}
#form {
  padding: 30px;
  border: 2px solid #cf6f15;
  border-radius: 10px;
  display: inline-block;
  margin-top: 5%;
}
#alert {
  font-size: 20px;
}
</style>
