<template>
  <div>
    <div v-for="(delivery) in deliveries" :key="delivery.name">
      <div class="delivery">
        <p>
          <span class="main">Name:</span>
          <span class="parameter">{{ delivery.name }}</span> <br />
          <span class="main">Progress:</span>
          <span class="parameter">{{ delivery.status }}</span>
        </p>
        <button v-on:click="delivery.show = !delivery.show" v-if="!delivery.show" class="binfo">Show more</button>
        <p v-if="delivery.show" class="info">
          <span class="main">Driver:</span>
          <span class="parameter">{{ delivery.driver }}</span> <br />
          <span class="main">From:</span>
          <span class="parameter">{{ delivery.src_address }}</span> <br />
          <span class="main">To:</span>
          <span class="parameter">{{ delivery.dst_address }}</span>
        </p>
        <button v-on:click="delivery.show = !delivery.show" v-if="delivery.show" class="binfo">Hide</button>
      </div>
    </div>
    <button id="order"><router-link to="/order"> <a class="o">New Order</a></router-link></button>
  </div>
</template>

<script>
export default {
  name: 'Deliveries',
  data () {
    return {
      deliveries: [
        {
          name: 'Letter',
          status: 'In progress',
          driver: 'Ivan Petrov',
          src_address: 'Innopolis 1',
          dst_address: 'Innopolis 2',
          show: false
        },
        {
          name: 'Flowers',
          status: 'In progress',
          driver: 'Vasya Pupkin',
          src_address: 'Innopolis SK',
          dst_address: 'Innopolis Cavva',
          show: false
        }
      ]
    }
  }
}
</script>

<style scoped>
.delivery {
  margin: 20px;
  margin-left: 25%;
  padding: 5px;
  border: 1px solid #dea868;
  border-left: 0px;
  border-right: 0px;
  width: 50%;
  color: black;
}
  p {
    padding: 5px;
  }
  .info {
    border: 1px solid rgba(255,201,109,0.85);
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
  }
  .main {
    display: inline-block;
    width: 100px;
    color: rgba(79, 79, 79, 0.85);
  }
  .parameter {
    display: inline-block;
    margin: 0px auto;
    padding-left: 30px;
  }
  .binfo {
    border: none;
    background-color: white;
    font-size: 13px;
    width: 100%;
  }
  .binfo:hover {
    background-color: rgba(255,201,109,0.85);
  }
  #order {
    margin-left: 69%;
  }
.o {
  color: #dea868;
  font-size: 13px;
}
</style>
