<template>
  <div id="order">
    <div>
      <p v-if="error">Sorry, your order has not been successfuly processed, please try later</p>
      <h1>Create a new order</h1>
      <p id="f">Please, fill in all information. The order will be processed and assigned to the driver.
        We will inform you, when you will get your delivery!</p>
      <hr>
      <table>
        <tr>
          <td><p class="d">First name<span class="star">*</span></p></td>
          <td><p class="d">Second name<span class="star">*</span></p></td>
        </tr>
        <tr>
          <td><input type="text" required v-model="firstName" placeholder="First name" class="i"></td>
          <td><input type="text" required v-model="secondName" placeholder="Second name" class="i"></td>
        </tr>
      </table>
      <hr>
      <table>
        <tr>
          <td><p class="d">Email<span class="star">*</span></p></td>
          <td><p class="d">Phone number<span class="star">*</span></p></td>
        </tr>
        <tr>
          <td><input type="email" required v-model="email" placeholder="Email" class="i"></td>
          <td><input type="number" required v-model="phoneNumber" placeholder="Phone number" class="i"></td>
        </tr>
      </table>
      <hr>
      <table>
        <tr>
          <td><p class="d">Source Address<span class="star">*</span></p></td>
          <td><p class="d">Destination Address<span class="star">*</span></p></td>
        </tr>
        <tr>
          <td><input type="text" required v-model="s_address" placeholder="Source Address" class="i"></td>
          <td><input type="text" required v-model="d_address" placeholder="Destination Address" class="i"></td>
        </tr>
      </table>
      <hr>
      <table>
        <tr>
          <td><p class="d">Date<span class="star">*</span></p></td>
          <td><p class="d">Your order<span class="star">*</span></p></td>
        </tr>
        <tr>
          <td><input type="date" required v-model="date" placeholder="Date" class="i"></td>
          <td><textarea type="text" required v-model="order" placeholder="Order" class="i"></textarea></td>
        </tr>
      </table>
      <hr>
      <div class="t">
      <p class="d">Possible time for delivering<span class="star">*</span></p>
      <div>
        <input type="checkbox" id="time1" name="feature"
               value="12:00 - 14:00" checked />
        <label for="time1">12:00 - 14:00</label>
      </div>
      <div>
        <input type="checkbox" id="time2" name="feature"
               value="13:00 - 15:00" />
        <label for="time2">13:00 - 15:00</label>
      </div>
      <div>
        <input type="checkbox" id="time3" name="feature"
               value="14:00 - 16:00" />
        <label for="time3">14:00 - 16:00</label>
      </div>
      <div>
        <input type="checkbox" id="time4" name="feature"
               value="15:00 - 17:00" />
        <label for="time4">15:00 - 17:00</label>
      </div>
      <div>
        <input type="checkbox" id="time5" name="feature"
               value="16:00 - 16:00" />
        <label for="time5">16:00 - 16:00</label>
      </div>
      </div>
    </div>
    <button @click="save" id="o">Order</button>
  </div>
</template>

<script>
import { createOrder } from '../API/Orders'

import { domain } from '../constants'
export default {
  name: 'Order',
  data () {
    return {
      firstName: '',
      secondName: '',
      email: '',
      phoneNumber: '',
      s_address: '',
      d_address: '',
      order: '',
      error: false,
      date: '',
      time: []
      /*
        fname: '',
        sname: '',
        newEmail: '',
        pnumber: '',
        newAddress: '',
        newOrder: '',
        message: ''
        */
    }
  },
  methods: {
    name () {
      return this.firstName + ' ' + this.secondName
    },
    async save () {
      let rsp = await createOrder(this.name(), this.s_address, this.d_address)
      if (rsp.status === 200) { this.showSuccess() } else { this.showError() }
    },
    showSuccess () {
      router.push('success')
    },
    showError () {
      this.error = true
    }

    /*
      save: function () {
        if (this.fname !== '' && this.sname !== '' && this.newEmail !== '' &&
          this.pnumber !== '' && this.newAddress !== '' && this.newOrder !== '') {
          this.message = ''
          this.firstName.push(this.fname)
          this.fname = ''
          this.secondName.push(this.sname)
          this.sname = ''
          this.email.push(this.newEmail)
          this.newEmail = ''
          this.phoneNumber.push(this.pnumber)
          this.pnumber = ''
          this.address.push(this.newAddress)
          this.newAddress = ''
          this.order.push(this.newOrder)
          this.newOrder = ''
          this.saveOrder()
          alert('The order was created')
        } else {
          this.message = 'You should enter all fields to create an order'
        }
      },
      saveOrder: function () {
        const fnameParsed = JSON.stringify(this.firstName)
        localStorage.setItem('firstName', fnameParsed)
        const snameParsed = JSON.stringify(this.secondName)
        localStorage.setItem('secondName', snameParsed)
        const emailParsed = JSON.stringify(this.email)
        localStorage.setItem('email', emailParsed)
        const numberParsed = JSON.stringify(this.phoneNumber)
        localStorage.setItem('phoneNumber', numberParsed)
        const addressParsed = JSON.stringify(this.address)
        localStorage.setItem('firstName', addressParsed)
        const orderParsed = JSON.stringify(this.order)
        localStorage.setItem('firstName', orderParsed)
      }
    */
  }
}
</script>

<style scoped>
  #order {
    padding: 20px;
    margin-left: 25%;
  }
  #f {
    width: 600px;
    font-size: 13px;
  }
  h1 {
    font-size: 20px;
    font-weight: bold;
  }
  hr {
    width: 70%;
  }
  .star {
    color: red;
  }
  .d {
    font-weight: bold;
  }
  table {
    margin-top: 15px;
  }
  table td {
    padding: 5px;
    width: 190px;
  }
  .i {
    box-sizing: border-box;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid rgba(79, 79, 79, 0.85);
    background-color: #fafbfc;
  }
  .i:focus {
    outline: none;
    box-shadow: 0 0 2px rgb(255, 201, 109);
    border: 1px solid rgb(255, 201, 109);
  }
  .t {
    margin-left: 10%;
  }
  #o {
    margin-left: 50%;
    font-size: 20px;
    color: #cf6f15;
    border: 1px solid rgba(230, 128, 21, 0.29);
    border-radius: 2px;
    background-color: rgba(255, 201, 109, 0.39);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
</style>
