<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <ul>
      <li>
        <a>
          <router-link to="/auth">Sign In</router-link>
        </a>
      </li>
      <li>
        <a>
          <router-link to="/register">Sign Up</router-link>
        </a>
      </li>
      <li>
        <a>
          <router-link to="/about">About us</router-link>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Start',
  data () {
    return {
      msg: 'Welcome to GaaGaa Delivery Service'
    }
  }
}
</script>

<style scoped>
  .hello {
    text-align: center;
  }
  h1 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #dea868;
  }
</style>
