<template>
  <!-- big logo is shown only in the start page -->
  <div>
  <div id="app" v-if="['Start'].indexOf($route.name) > -1">
    <img src="./assets/logo.png">
  </div>
    <nav v-if="['Start'].indexOf($route.name) <= -1">
      <a id="logo" href="#">GaaGaa delivery</a>
      <a>
        <router-link to="/auth" class="link">Sign in</router-link>
      </a>
      <a>
        <router-link to="/about" class="link">About us</router-link>
      </a>
    </nav>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #cf6f15;
  margin-top: 60px;
  text-align: center;
}
#app img {
  width: 30%;
}
nav {
  width: 100%;
  height: 40px;
  background-color: #dea868;
  margin: 0;
}
/* TODO: DELETE NAV A AND NAV A:HOVER AFTER ADDING LINKS TO PAGES */
nav a {
  float: right;
  font-family: sans-serif;
  font-size: 15px;
  color: white;

  padding: 5px;
  padding-right: 10px;
  height: 40px;

  text-decoration: none;
}
nav a:hover {
  background-color: #cf6f15;
}
.link {
  height: 35px;
}
.link:hover {
  color: white;
}
#logo {
  /*font*/
  font-family: "Copperplate", sans-serif;
  font-size: 20px;
  letter-spacing: -2px;
  text-shadow: 1px 1px 2px #c4c4c4;
  float: left;
  color: white;
  /*box*/
  padding: 10px;
  height: 40px;

  text-decoration: none;
}
</style>
